body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}
form{
    display:flex;
    flex-direction: column;
}
input{
    position:relative;
    height:100%;
    width:80%;
}

textarea {
    height: 50vh;
    width: 80%;
    margin-bottom:10px;
}
.btn{
    width:200px;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}